meta(charset='utf-8')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')
meta(name='description', content='Shane Mook - Senior Software Engineer - Ruby, Ruby on Rails, Go, Elixir, Javascript, React.')

title Media Locker
link(rel='stylesheet', href='css/app.css')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic', rel='stylesheet')
